<% content_for :title, "Editar Tarefa" %>

<h1>Editar Tarefa</h1>

<div style="display: grid; align-items: center; justify-content: center; margin-bottom: 10px; margin-top: 2rem; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
  <%= render "form", lista_tarefa: @lista_tarefa %>
</div>

<%= link_to "Nova Tarefa", new_lista_tarefa_path %>
</br>

<div>
  <%= link_to "Voltar para Lista de Tarefas", lista_tarefas_path %>
</div>
