<p style="color: green"><%= notice %></p>

<% content_for :title, "Lista de Tarefas" %>

<h1>Lista de Tarefas</h1>

<%= link_to "Nova Tarefa", new_lista_tarefa_path %>

<div id="lista_tarefas">
  <% @lista_tarefas.each do |lista_tarefa| %>
    <%= render lista_tarefa %>
    <p>
      <%= link_to "Exibir", lista_tarefa %>
    </p>
  <% end %>
</div>

