<% content_for :title, "Nova Tarefa" %>

<h1>Nova Tarefa</h1>

<div style="display: grid; align-items: center; justify-content: center; margin-bottom: 10px; margin-top: 2rem; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
  <%= render "form", lista_tarefa: @lista_tarefa %>
</div>
<br>

<div>
  <%= link_to "Voltar para Lista", lista_tarefas_path %>
</div>
